/*
 * Override the variables you want to customize, all variables can refer to: 
 * 
 * node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 * 
 */

$grey:					  #5C5C5C !default;
$gray-light:			  #919191 !default;
$gray-lighter:  		  #F7F7F7 ;

$brand-primary:			  #ed1e79 !default;

$font-family-sans-serif:  "adelle-sans", Helvetica, Arial, sans-serif !default;
$btn-border-radius-base:  23px !default;
$text-color:              $grey !default;