
@import 'override-variables';
@import 'bootstrap';

h1,
h2 {
	text-transform: uppercase; 
}

.jumbotron h1{
	font-size: 101px;
	@media ( max-width: $screen-sm-max) {
		font-size: 50px;
	}
}

h2{
	font-size: 3.5em;
	font-weight: bold;
	@media ( max-width: $screen-sm-max) {
		font-size: 3.1em;
	}
}

.btn{
	font-family: 'adelle', serif;
}

.page-title{
	text-align: center; 
		
	.jumbotron {
		background: inherit; 
	}
}

.staff-cards {
	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap; 
	}
	.row > [class*='col-'] {
		display: flex;
		flex-direction: column; 
	}
	@media ( min-width: $screen-md ) {
		// fix safari render issue
		.row > .col-md-4 {
			width: 33%;
		}
	}
	@media ( min-width: $screen-sm ) and ( max-width: $screen-sm-max) {
		// fix safari render issue
		.row > .col-sm-6 {
			width: 49.5%;
		}
	}

    .staff-card {
		background-color: $gray-lighter;
		border: none;
		box-shadow: none; 

		h4 {
			color: $gray-light; 
		}

		.panel-body {
			text-align: center; 
		}
	}
	@media screen and ( min-width: $screen-sm ) {
		padding-bottom: 50px;

		.staff-card{
			background-color: inherit;
		}
	}
}

.section-lead{
	text-align: center;

	@media (max-width: $screen-xs-max) {	
		margin-bottom: 30px; 
	}
}

// White Custom Button
.btn-white {
	@include button-variant( white, transparent, white );

	&:hover,
    &:focus,
    &.focus {
      color: white;
      background-color: $brand-primary;
          border-color: darken($brand-primary, 25%);
    }
}

.vacancies-bg {
	background: url("../img/background.jpg") no-repeat center center;
	background-size: cover;
	padding: 60px 0; 
}

.vacancies {

	.row > [class*='col-md-'] {
	  	float:none;
	    display:inline-block;
	    vertical-align:middle;
	    margin-right:-4px;
	}

	.section-lead {
		text-align: inherit;

		h2, p {
			color: white; 
		}
		
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
	}
	.panel-default {
		> .panel-heading {
			background-color: inherit;
			border: none; 

			.panel-title {
				a{
					font-weight: bold;
				}
				a:hover,
				a:focus,
				a:active{
					text-decoration: none;
				}
				a:after {
					font-family: 'Glyphicons Halflings';
					content: "\002b";
					float: right;
					color: $gray-light; 
				}
				a.collapsed:after {
					content: "\2212"; 
				}
			}
		}
		.panel-collapse > .panel-body {
			border: none; 
		}
	}
}

.story{
	.row > [class*='col-md-'] {
	  	float:none;
	    display:inline-block;
	    vertical-align:middle;
	    margin-right:-4px;
	}
	ul {
		margin: 0;
		padding: 0;

		> li {
			list-style: none; 
			overflow: hidden; 
			border-radius: 8px;

			@media screen and ( min-width: $screen-sm ) { 
				margin-bottom: 15px;

				> img {
					object-fit: cover;
					width: 100%;
					max-height: 300px;
				}

				&:first-child,
				&:last-child{
					height: 100px;
					overflow: hidden;
					position: relative;
				}

				&:first-child {
					border-top-right-radius: 0;
					border-top-left-radius: 0;
					img{
						position: absolute;
						bottom: 0;
					}
				}

				&:last-child {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
					margin-bottom: 0;
				}
			}	
		}
	}

	@media (max-width: $screen-xs-max) {
		.gallery {
			padding:0;
		
			ul{
				display: inline-flex;
				flex-direction: row;
				width: 100%;

				li{
					margin-right: 10px;

					&:first-child,
					&:last-child{
						width: 18%;
						overflow: hidden;
						position: relative;
					}
					&:first-child {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
					&:last-child {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						margin-right: 0;
					}

					> img {
						object-fit: cover;
						height: 30em;
					}
				}
			}
		}

	}
	@media (max-width: $screen-xs) {
		.gallery ul li{
			> img {
				height: 300px;
			} 
	
			&:first-child,
			&:last-child{
				width: 10%;
			}
		}
	}
}

#top-link-block{
	.well-lg{
    	border-radius: 50%;
    	background-color: $body-bg;
    	padding:20px;
    	-webkit-box-shadow: none;
    	box-shadow: none;
    }
	&.affix-top {
	    position: absolute; /* allows it to "slide" up into view */
	    bottom: -82px; /* negative of the offset - height of link element */
	    right: 20px; /* padding from the left side of the window */
	}
	&.affix {
	    position: fixed; /* keeps it on the bottom once in view */
	    bottom: 38px; /* height of link element */
	    right: 20px; /* padding from the left side of the window */
	}
}


